/* latin */
@font-face {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 400;
    src: local('Orbitron Regular'), local('Orbitron-Regular'), url(https://fonts.gstatic.com/s/orbitron/v10/yMJRMIlzdpvBhQQL_Qq7dy0.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

body {
    background-image: url("../Images/background.jpg");
}

.calculator {
    display: grid;
    width: 30%;
    height: 500px;
    background-color:#333333;
    margin: 0 auto;
    grid-template: repeat(6, 2fr) / repeat(4, 1fr);
    border: 2px solid darkgrey;
    border-radius: 5px;
}


.calculator .screen {
    grid-area: 1 / 1 / span 1 / 7;
    background-color: #555555;
    text-align: right;
    font-family: "Orbitron", sans-serif;
}

.calculator .screen span{
    color: white;
    font-size: 40px;
    display: inline-block;
    margin: 14px auto;
}

button{
    font-family: "Orbitron", sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #999999;
    border: 1px solid #999999;
    background-color: #333333;
} 

button:hover{
    color:black;
}

.calculator #bot1{
    grid-area: 3 / 1 / span 1/ span 1;
}
.calculator #bot2{
    grid-area: 3 / 2 / span 1/ span 1;
}
.calculator #bot3{
    grid-area: 3 / 3 / span 1/ span 1;
}
.calculator #bot4{
    grid-area: 4 / 1 / span 1/ span 1;
}
.calculator #bot5{
    grid-area: 4 / 2 / span 1/ span 1;
}
.calculator #bot6{
    grid-area: 4 / 3 / span 1/ span 1;
}
.calculator #bot7{
    grid-area: 5 / 1 / span 1/ span 1;
}
.calculator #bot8{
    grid-area: 5 / 2 / span 1/ span 1;
}
.calculator #bot9{
    grid-area: 5 / 3 / span 1/ span 1;
}
.calculator #bot0{
    grid-area: 6 / 2 / span 1/ span 1;
}
.calculator #point{
    grid-area: 6 / 3 / span 1/ span 1;
}

.operator{
    background-color: #555555;
    font-size: 40px;
    font-weight: 500;
}

button:hover{
    background-color: darkorange;
}

.calculator #delete{
    grid-area: 2 / 2 / span 1 / span 1;
    background-color: #555555
}

.calculator #delete:hover{
    background-color: darkorange;
}

.calculator #sum{
    grid-area: 4 / 4 / span 1/ span 1;

}
.calculator #sub{
    grid-area: 3 / 4 / span 1/ span 1;

}
.calculator #mul{
    grid-area: 2 / 4 / span 1/ span 1;
}
.calculator #div{
    grid-area: 2 / 3 / span 1/ span 1;
}
.calculator #result{
    grid-area: 5 / 4 / span 2/ span 1;
    font-size: 50px;
    font-weight: 500;
    background-color: orange;
    color: white;
}
.calculator #result:hover{
    background-color: darkorange;
}

.calculator #clear {
    grid-area: 2 / 1 / span 1 / span 1;
    color: white;
    background-color: red;
    font-size: 11px;
}

.calculator #clear:hover {
    background-color: darkred;
}
